
  <div class="card checkoutformpostion">
      <form action="/checkout" method="POST">
          <div class="form-group">
            <input
              type="text"
              name="title"
              id="title"
              class="form-control checkoutform bigtxt"
              value="<%= movie.title %>"
              readonly
            />
          </div>
          <div class="form-group">
              <input
                type="text"
                name="director"
                id="director"
                class="form-control checkoutform"
                value="<%= movie.director %>"
                readonly
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="price"
                id="price"
                class="form-control checkoutform"
                value="<%= movie.price %>"
                readonly
              />
            </div>
            <div class="form-group">
              <input
                type="hidden"
                name="genre"
                id="genre"
                class="form-control checkoutform"
                value="<%= movie.genre %>"
                readonly
              />
            </div>
            <div class="form-group">
              <input
                type="hidden"
                name="imageUrl"
                id="imageUrl"
                class="form-control checkoutform"
                value="<%= movie.imageUrl %>"
                readonly
              />
            </div>
            <div class="form-group">
              <input
                type="hidden"
                name="runtime"
                id="runtime"
                class="form-control checkoutform"
                value="<%= movie.runtime %>"
                readonly
              />
            </div>
            <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Proceed to Purchase</button>
        </form>
  </div>