<div class='container'>
<h1>All Users</h1>

<table class="table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Is Admin</th>
        </tr>
    </thead>

<tbody>
<form method="POST" action="/admin/saveAdmin">
<% let count = 0 %>
<% users.forEach(user => {%>
    <tr>
        <td><a href="/users/<%= user._id %>"><%= user.firstname %> <%= user.lastname %></a></td>
        <td><%= user.email %></td>
        <td>
            <input type="hidden" value="<%= user._id %>" name="users[<%= count %>][_id]">
            <input type="checkbox" name="users[<%= count %>][isAdmin]"
        <% if (user.isAdmin) { %>
            checked
        <% } %>>
        </td>
    </tr>
    <% count++; %>
<% }); %>
</tbody>
</table>
<br><input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit changes">
</form>
</div>